/* Hyper Modal CSS is an Open Source CSS to use */
/* Support this Development with your feedback  */
/* Development : https://github.com/yozawiratama/Hyper-Box */


.hyperBox {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(46,42,42,0.81);
	z-index: 99999;
	opacity:0;
	overflow: scroll;
	-webkit-transition: opacity 270ms ease-in;
	-moz-transition: opacity 270ms ease-in;
	transition: opacity 270ms ease-in;
	pointer-events: none;
}

.hyperBox:target {
	opacity:1;
	pointer-events: auto;
}

.hyperBox > div {
	min-width: 600px; /*Change your own min-width of modal Dialog here*/
	width: 45%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 40px 20px;
	background: #fff;
}

.toClose{
	color: #d7d2d2;
	line-height: 25px;
	position: absolute;
	text-align: right;
	text-decoration: none;
	font-weight: lighter;
}

.toClose:hover { 
	color: gray;
	font-weight: bolder;
}

/* Default Position*/
.bottom{
	bottom: 12px;
}

.right{
	right: 12px;
}

.top{
	top: 12px;
}

.left{
	left: 12px;
}

.makeEmboss {
    /* Border bottom light */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 
    /* Inner top shadow */
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}

.makeRound{
	/* Round corners */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.hyperBox::-webkit-scrollbar {
    width: 12px;
}

.hyperBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.hyperBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}